<h2><%= link_to blog_link.title, blog_link.url %></h2>
<p class="meta"><%= blog_link.author_name %> <%= blog_link.published_at %></p>
<blockquote>
  <%= simple_format blog_link.quote %>
</blockquote>

<p class="comment"><%= blog_link.comment %></p>
