<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">
    <header>
      <h1><%= link_to "Blog", root_path %></h1>
      <p>Welcome to my blog</p>

      <%= form_tag(search_path, method: :get) do %>
        <%= text_field_tag 'query', '', placeholder: 'Search' %>
      <% end %>
    </header>

    <section>
      <%= yield %>
    </section>
  </div>
</body>
</html>
